@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

.sidebar{
    /*background-color: white;*/
    background-color: rgb(223, 218, 218);
    position: absolute ;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;

}

.sidebar nav{
    padding: 15px;

}

.sidebar nav li{
     list-style: none;
     font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
/*background-color: yellow;*/
    width: 90vw;
    padding:23px;
}

.container{
    display: flex;
}

.infoContainer{
    /*background-color: rgb(202, 9, 128);*/
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 3em;  
    font-family: 'Source Code Pro', monospace;  
}
.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;

}
.about{
    font-size: 2.5em;
}

.moreabout{
    font-size: 2.2em;
    margin-top: 23px;
    font-family: 'Fira Sans', sans-serif;

}

.buttons{
    margin-top: 2.2em ;
}

.btn{
     padding: 9px 14px;
     border-radius: 22px;
     color: white;
     background-color: dodgerblue;
     font-weight: bold;
     font-size: 21px;
     margin: 0 3px;
     cursor: pointer;
}

.btn-sm{
    font-size: 17px;
    width: 100px;
}

.btn:hover{
    background-color: white;
    color: dodgerblue;
}

.devPic img{
    margin-top: 100px;
    
    width: 500px;
}

.contactform{
    padding: 0 34px;
    font-family: 'Fira Sans', sans-serif;
    margin:88px;
}
.contactform h1{
    font-family: 'Source Code Pro', monospace; 
    text-align: center ;
    justify-content: center;
}

.contactform form div{
    padding: 12px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div{
    width: 16vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;
}

.contactform form div input{
    border-radius: 5px;
    margin: 6px 0 0;
    padding: 3px;
}
.contactform form{
    margin: 0 40px;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 3px 0;
}

h1{
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;

}

h2{
    font-family: 'Fira Sans', sans-serif;

}

.skillcontainer{
    justify-content: center;
    
}

.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px ;
}

.ham{
    margin-top: 10px;
    margin-left: 10px;
}

.cross{
     margin-left: 150px;
     margin-top: 10px;
}

@media (max-width: 1439px) {
    *{
        /*background-color: white;*/ 
    }
    /* .sidebar{
        transform: translate(-443px, 0px);
        position: absolute;
    } */

    .devPic{
        display: none;
    }

    .intro,.contactform{
        margin: 50px 8px;
    }
}

.mywork{
    text-align: center;
    padding-top: 50px;
    
}

.mywork p{
    font-family: 'Source Code Pro', monospace;  
    margin-top:25px;
    
}

.mywork  h2{
    margin-top: 25px
    
}
.mywork a{
    text-align: center;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace; 
    color: black; 
    text-decoration: underline;
}

.search-box{
    float: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50,-50);
    background: dodgerblue;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    margin-left: 400px;
    top: 10px;
    color: white;

   }
   .search-box:hover > .search-txt{
       width: 240px;
       padding: 0 6px;
   }
   
   .search-box:hover > .search-btn{
       background: white;
   }
   
   
   
   .search-btn{
   color: dodgerblue;
   float: right;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background: white;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.4s;
   text-decoration: none;
   }
   
   .search-txt{
       border: none;
       background: none;
       outline: none;
       float: left;
       padding: 0;
       color: white;
       font-size: 16px;
       transition: 0.4s;
       line-height: 40px;
       width: 0px;
   }

   ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }




















